body{
    width: 80%;
}

#cv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 1ere Partie en jaune */

#ctgauche{
    width: 100%;
}

img.photopierre{
    margin-left: 8%;
    margin-bottom: 2.5em;
}

h1{
    position: absolute;
    top: 1em;
    left: 46%;
}

h1 span{
    color: white;
}

h2{
    position: absolute;
    left: 46%;
    top: 5.6em;
}

#ctgauche h3, .contact .contenuContact{
    text-align: center;
}

.loisirs{
    margin-top: 2em;
}

/* 2ere Partie en blanc */

#ctdroit{
    width:  100%;
    justify-content: center;
}

#ctdroit h3{
    text-align: center;
}

div.ligne{
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.formation h3{
    margin-top: 2em;
}

.groupeColonne{
    justify-content: space-evenly;
}
.colonne{
    width: 25%;
}